In [28]:
using Pkg
using DataFrames
using CSV
using GLM
using StatsBase
using Lathe
using MLBase
using ClassImbalance
using ROCAnalysis
# Enable printing of 1000 columns
ENV["COLUMNS"] = 1000

1000

In [29]:
@time begin
df= CSV.read("C:\\Users\\ASUS\\OneDrive\\Desktop\\Data Science\\Project\\autoscout24_germany_dataset.csv", DataFrame)
first(df,5)
end

  0.018411 seconds (93.06 k allocations: 6.302 MiB)

5×9 typename(DataFrame)
│ Row │ mileage │ make       │ model   │ fuel     │ gear    │ offerType │ price │ hp     │ year  │
│     │ Int64   │ String     │ String⍰ │ String   │ String⍰ │ String    │ Int64 │ Int64⍰ │ Int64 │
├─────┼─────────┼────────────┼─────────┼──────────┼─────────┼───────────┼───────┼────────┼───────┤
│ 1   │ 235000  │ BMW        │ 316     │ Diesel   │ Manual  │ Used      │ 6800  │ 116    │ 2011  │
│ 2   │ 92800   │ Volkswagen │ Golf    │ Gasoline │ Manual  │ Used      │ 6877  │ 122    │ 2011  │
│ 3   │ 149300  │ SEAT       │ Exeo    │ Gasoline │ Manual  │ Used      │ 6900  │ 160    │ 2011  │
│ 4   │ 96200   │ Renault    │ Megane  │ Gasoline │ Manual  │ Used      │ 6950  │ 110    │ 2011  │
│ 5   │ 156000  │ Peugeot    │ 308     │ Gasoline │ Manual  │ Used      │ 6950  │ 156    │ 2011  │

In [30]:
Set(df[!, :gear])

Set{Union{Missing, String}} with 4 elements:
  "Manual"
  "Automatic"
  "Semi-automatic"
  missing

In [31]:
names(df)

9-element Vector{Symbol}:
 :mileage
 :make
 :model
 :fuel
 :gear
 :offerType
 :price
 :hp
 :year

In [32]:
size(df)

(46405, 9)

In [33]:
df = dropmissing(df)

46071×9 typename(DataFrame)
│ Row   │ mileage │ make       │ model   │ fuel              │ gear      │ offerType      │ price │ hp    │ year  │
│       │ Int64   │ String     │ String  │ String            │ String    │ String         │ Int64 │ Int64 │ Int64 │
├───────┼─────────┼────────────┼─────────┼───────────────────┼───────────┼────────────────┼───────┼───────┼───────┤
│ 1     │ 235000  │ BMW        │ 316     │ Diesel            │ Manual    │ Used           │ 6800  │ 116   │ 2011  │
│ 2     │ 92800   │ Volkswagen │ Golf    │ Gasoline          │ Manual    │ Used           │ 6877  │ 122   │ 2011  │
│ 3     │ 149300  │ SEAT       │ Exeo    │ Gasoline          │ Manual    │ Used           │ 6900  │ 160   │ 2011  │
│ 4     │ 96200   │ Renault    │ Megane  │ Gasoline          │ Manual    │ Used           │ 6950  │ 110   │ 2011  │
│ 5     │ 156000  │ Peugeot    │ 308     │ Gasoline          │ Manual    │ Used           │ 6950  │ 156   │ 2011  │
│ 6     │ 147000  │ Toyota     │ Auris   │ Electric/Gasoline │ Automatic │ Used           │ 6950  │ 99    │ 2011  │
│ 7     │ 91894   │ Renault    │ Scenic  │ Diesel            │ Manual    │ Used           │ 6970  │ 131   │ 2011  │
│ 8     │ 127500  │ Opel       │ Zafira  │ Gasoline          │ Manual    │ Used           │ 6972  │ 116   │ 2011  │
│ 9     │ 115000  │ Mazda      │ 3       │ Gasoline          │ Automatic │ Used           │ 6980  │ 150   │ 2011  │
│ 10    │ 104     │ Ford       │ Transit │ Diesel            │ Manual    │ Used           │ 6990  │ 86    │ 2011  │
⋮
│ 46061 │ 10      │ Citroen    │ C1      │ Gasoline          │ Manual    │ Pre-registered │ 12340 │ 72    │ 2021  │
│ 46062 │ 10      │ Citroen    │ C1      │ Gasoline          │ Manual    │ Pre-registered │ 12340 │ 72    │ 2021  │
│ 46063 │ 99      │ Fiat       │ 500     │ Electric/Gasoline │ Manual    │ Pre-registered │ 12490 │ 71    │ 2021  │
│ 46064 │ 550     │ Fiat       │ 500     │ Electric/Gasoline │ Manual    │ Demonstration  │ 12805 │ 69    │ 2021  │
│ 46065 │ 837     │ Fiat       │ Panda   │ Electric/Gasoline │ Manual    │ Demonstration  │ 12805 │ 69    │ 2021  │
│ 46066 │ 1500    │ Skoda      │ Fabia   │ Gasoline          │ Manual    │ Demonstration  │ 12980 │ 60    │ 2021  │
│ 46067 │ 99      │ Fiat       │ 500     │ Electric/Gasoline │ Manual    │ Pre-registered │ 12990 │ 71    │ 2021  │
│ 46068 │ 99      │ Fiat       │ 500     │ Electric/Gasoline │ Manual    │ Pre-registered │ 12990 │ 71    │ 2021  │
│ 46069 │ 99      │ Fiat       │ 500     │ Electric/Gasoline │ Manual    │ Pre-registered │ 12990 │ 71    │ 2021  │
│ 46070 │ 99      │ Fiat       │ 500     │ Electric/Gasoline │ Manual    │ Pre-registered │ 12990 │ 71    │ 2021  │
│ 46071 │ 99      │ Fiat       │ 500     │ Electric/Gasoline │ Manual    │ Pre-registered │ 12990 │ 71    │ 2021  │

In [34]:
missing_elements = ismissing(df)
println(missing_elements)

false

In [35]:
describe(df)

9×8 typename(DataFrame)
│ Row │ variable  │ mean    │ min           │ median  │ max            │ nunique │ nmissing │ eltype   │
│     │ Symbol    │ Union…  │ Any           │ Union…  │ Any            │ Union…  │ Nothing  │ DataType │
├─────┼───────────┼─────────┼───────────────┼─────────┼────────────────┼─────────┼──────────┼──────────┤
│ 1   │ mileage   │ 71233.1 │ 0             │ 60000.0 │ 1111111        │         │          │ Int64    │
│ 2   │ make      │         │ Abarth        │         │ smart          │ 71      │          │ String   │
│ 3   │ model     │         │ 107           │         │ up!            │ 835     │          │ String   │
│ 4   │ fuel      │         │ -/- (Fuel)    │         │ Others         │ 11      │          │ String   │
│ 5   │ gear      │         │ Automatic     │         │ Semi-automatic │ 3       │          │ String   │
│ 6   │ offerType │         │ Demonstration │         │ Used           │ 5       │          │ String   │
│ 7   │ price     │ 16563.1 │ 1100          │ 11000.0 │ 1199900        │         │          │ Int64    │
│ 8   │ hp        │ 132.993 │ 1             │ 116.0   │ 850            │         │          │ Int64    │
│ 9   │ year      │ 2016.01 │ 2011          │ 2016.0  │ 2021           │         │          │ Int64    │

In [36]:
df_x = convert(Array,df[:,[1,7,8,9]])

46071×4 Matrix{Int64}:
 235000   6800  116  2011
  92800   6877  122  2011
 149300   6900  160  2011
  96200   6950  110  2011
 156000   6950  156  2011
 147000   6950   99  2011
  91894   6970  131  2011
 127500   6972  116  2011
 115000   6980  150  2011
    104   6990   86  2011
  59580   6990  101  2011
  84000   6990  105  2011
 427000   6990  204  2011
      ⋮
      5  11990   69  2021
     10  12340   72  2021
     10  12340   72  2021
     99  12490   71  2021
    550  12805   69  2021
    837  12805   69  2021
   1500  12980   60  2021
     99  12990   71  2021
     99  12990   71  2021
     99  12990   71  2021
     99  12990   71  2021
     99  12990   71  2021

In [37]:
df_y= convert(Array,df[:,5])

46071-element Vector{String}:
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Automatic"
 "Manual"
 "Manual"
 "Automatic"
 "Manual"
 "Automatic"
 "Manual"
 "Automatic"
 ⋮
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"

In [38]:
using DecisionTree
tree_model= DecisionTreeClassifier()

DecisionTreeClassifier
max_depth:                -1
min_samples_leaf:         1
min_samples_split:        2
min_purity_increase:      0.0
pruning_purity_threshold: 1.0
n_subfeatures:            0
classes:                  nothing
root:                     nothing

In [39]:
using DecisionTree
DecisionTree.fit!(tree_model, df_x, df_y)

DecisionTreeClassifier
max_depth:                -1
min_samples_leaf:         1
min_samples_split:        2
min_purity_increase:      0.0
pruning_purity_threshold: 1.0
n_subfeatures:            0
classes:                  ["Automatic", "Manual", "Semi-automatic"]
root:                     Decision Tree
Leaves: 7583
Depth:  54

In [40]:
tree_predictions=DecisionTree.predict(tree_model,df_x)

46071-element Vector{String}:
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Automatic"
 "Manual"
 "Manual"
 "Automatic"
 "Manual"
 "Automatic"
 "Manual"
 "Automatic"
 ⋮
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"
 "Manual"

In [41]:
using ScikitLearn
@sk_import metrics: accuracy_score

WARNING: redefinition of constant accuracy_score. This may fail, cause incorrect answers, or produce other errors.

PyObject <function accuracy_score at 0x0000000081E123B0>

In [42]:
tree_predictions=DecisionTree.predict(tree_model,df_x)
accuracy = accuracy_score(tree_predictions, df_y)

0.9993054198953789

# Splitting the data

In [43]:
using ScikitLearn

 @sk_import model_selection: train_test_split

┌ Warning: Module model_selection has been ported to Julia - try `import ScikitLearn: CrossValidation` instead
└ @ ScikitLearn.Skcore C:\Users\ASUS\.julia\packages\ScikitLearn\Kn82b\src\Skcore.jl:169
WARNING: redefinition of constant train_test_split. This may fail, cause incorrect answers, or produce other errors.

PyObject <function train_test_split at 0x0000000081FDD2D0>

In [44]:
x_train, x_test, y_train, y_test = train_test_split(df_x,df_y, test_size=.75)

4-element Vector{Array}:
 [60100 11390 102 2019; 104797 4980 69 2011; … ; 7285 24950 150 2020; 23555 24990 190 2019]
 [16800 14080 95 2019; 44167 9879 82 2017; … ; 11000 295000 799 2013; 6492 14690 72 2020]
 ["Manual", "Manual", "Automatic", "Automatic", "Automatic", "Manual", "Manual", "Automatic", "Automatic", "Manual"  …  "Manual", "Manual", "Manual", "Manual", "Manual", "Automatic", "Manual", "Automatic", "Automatic", "Automatic"]
 ["Manual", "Manual", "Automatic", "Manual", "Automatic", "Manual", "Automatic", "Manual", "Automatic", "Automatic"  …  "Manual", "Manual", "Automatic", "Automatic", "Manual", "Automatic", "Automatic", "Manual", "Automatic", "Manual"]

# Classification models

In [45]:
using ScikitLearn: fit!
using ScikitLearn: predict
@time begin
rf_model=RandomForestClassifier()
fit!(rf_model, x_train, y_train)
rf_predictions=predict(rf_model,x_test)
rf_accuracy = accuracy_score(rf_predictions, y_test)
end

  0.391883 seconds (376.22 k allocations: 37.925 MiB, 30.30% gc time)

0.8273716501707472

In [46]:
@time begin
dt_model=DecisionTreeClassifier()
fit!(dt_model, x_train, y_train)
dt_predictions=predict(dt_model,x_test)
dt_accuracy = accuracy_score(dt_predictions, y_test)
end

  0.107535 seconds (125.40 k allocations: 6.205 MiB)

0.7899230190426578

# Logistic regression

In [47]:
@time begin
@sk_import linear_model: LogisticRegression
log_reg_model=LogisticRegression()
fit!(log_reg_model, x_train, y_train)
log_predictions=predict(log_reg_model,x_test)
log_accuracy = accuracy_score(log_predictions, y_test)
end

  0.442811 seconds (322.60 k allocations: 7.827 MiB)

WARNING: redefinition of constant LogisticRegression. This may fail, cause incorrect answers, or produce other errors.
C:\Users\ASUS\.julia\conda\3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8320889043236673

In [48]:
df[:, :gear] = replace(df[:, :gear], "Semi-automatic" => "Automatic");

In [49]:
target_final=Lathe.preprocess.OneHotEncode(df,:gear)

46071×11 typename(DataFrame)
│ Row   │ mileage │ make       │ model   │ fuel              │ gear      │ offerType      │ price │ hp    │ year  │ Manual │ Automatic │
│       │ Int64   │ String     │ String  │ String            │ String    │ String         │ Int64 │ Int64 │ Int64 │ Bool   │ Bool      │
├───────┼─────────┼────────────┼─────────┼───────────────────┼───────────┼────────────────┼───────┼───────┼───────┼────────┼───────────┤
│ 1     │ 235000  │ BMW        │ 316     │ Diesel            │ Manual    │ Used           │ 6800  │ 116   │ 2011  │ 1      │ 0         │
│ 2     │ 92800   │ Volkswagen │ Golf    │ Gasoline          │ Manual    │ Used           │ 6877  │ 122   │ 2011  │ 1      │ 0         │
│ 3     │ 149300  │ SEAT       │ Exeo    │ Gasoline          │ Manual    │ Used           │ 6900  │ 160   │ 2011  │ 1      │ 0         │
│ 4     │ 96200   │ Renault    │ Megane  │ Gasoline          │ Manual    │ Used           │ 6950  │ 110   │ 2011  │ 1      │ 0         │
│ 5     │ 156000  │ Peugeot    │ 308     │ Gasoline          │ Manual    │ Used           │ 6950  │ 156   │ 2011  │ 1      │ 0         │
│ 6     │ 147000  │ Toyota     │ Auris   │ Electric/Gasoline │ Automatic │ Used           │ 6950  │ 99    │ 2011  │ 0      │ 1         │
│ 7     │ 91894   │ Renault    │ Scenic  │ Diesel            │ Manual    │ Used           │ 6970  │ 131   │ 2011  │ 1      │ 0         │
│ 8     │ 127500  │ Opel       │ Zafira  │ Gasoline          │ Manual    │ Used           │ 6972  │ 116   │ 2011  │ 1      │ 0         │
│ 9     │ 115000  │ Mazda      │ 3       │ Gasoline          │ Automatic │ Used           │ 6980  │ 150   │ 2011  │ 0      │ 1         │
│ 10    │ 104     │ Ford       │ Transit │ Diesel            │ Manual    │ Used           │ 6990  │ 86    │ 2011  │ 1      │ 0         │
⋮
│ 46061 │ 10      │ Citroen    │ C1      │ Gasoline          │ Manual    │ Pre-registered │ 12340 │ 72    │ 2021  │ 1      │ 0         │
│ 46062 │ 10      │ Citroen    │ C1      │ Gasoline          │ Manual    │ Pre-registered │ 12340 │ 72    │ 2021  │ 1      │ 0         │
│ 46063 │ 99      │ Fiat       │ 500     │ Electric/Gasoline │ Manual    │ Pre-registered │ 12490 │ 71    │ 2021  │ 1      │ 0         │
│ 46064 │ 550     │ Fiat       │ 500     │ Electric/Gasoline │ Manual    │ Demonstration  │ 12805 │ 69    │ 2021  │ 1      │ 0         │
│ 46065 │ 837     │ Fiat       │ Panda   │ Electric/Gasoline │ Manual    │ Demonstration  │ 12805 │ 69    │ 2021  │ 1      │ 0         │
│ 46066 │ 1500    │ Skoda      │ Fabia   │ Gasoline          │ Manual    │ Demonstration  │ 12980 │ 60    │ 2021  │ 1      │ 0         │
│ 46067 │ 99      │ Fiat       │ 500     │ Electric/Gasoline │ Manual    │ Pre-registered │ 12990 │ 71    │ 2021  │ 1      │ 0         │
│ 46068 │ 99      │ Fiat       │ 500     │ Electric/Gasoline │ Manual    │ Pre-registered │ 12990 │ 71    │ 2021  │ 1      │ 0         │
│ 46069 │ 99      │ Fiat       │ 500     │ Electric/Gasoline │ Manual    │ Pre-registered │ 12990 │ 71    │ 2021  │ 1      │ 0         │
│ 46070 │ 99      │ Fiat       │ 500     │ Electric/Gasoline │ Manual    │ Pre-registered │ 12990 │ 71    │ 2021  │ 1      │ 0         │
│ 46071 │ 99      │ Fiat       │ 500     │ Electric/Gasoline │ Manual    │ Pre-registered │ 12990 │ 71    │ 2021  │ 1      │ 0         │

In [50]:
names(target_final)

11-element Vector{Symbol}:
 :mileage
 :make
 :model
 :fuel
 :gear
 :offerType
 :price
 :hp
 :year
 :Manual
 :Automatic

In [51]:
specifics=df[:,[:mileage, :price, :hp, :year, :Manual]]
using FreqTables
classes=freqtable(target_final[:Automatic])

2-element Named Vector{Int64}
Dim1  │
──────┼──────
false │ 30309
true  │ 15762

In [52]:
using Lathe.preprocess: TrainTestSplit
train, test = TrainTestSplit(specifics,.75);

In [53]:
fm = @formula(Manual ~ mileage + hp + year + price)
logit = glm(fm, train,Binomial(),LogitLink())

StatsModels.TableRegressionModel{GeneralizedLinearModel{GLM.GlmResp{Vector{Float64}, Binomial{Float64}, LogitLink}, GLM.DensePredChol{Float64, LinearAlgebra.Cholesky{Float64, Matrix{Float64}}}}, Matrix{Float64}}

Manual ~ 1 + mileage + hp + year + price

Coefficients:
───────────────────────────────────────────────────────────────────────────────────────────
                      Coef.    Std. Error       z  Pr(>|z|)       Lower 95%       Upper 95%
───────────────────────────────────────────────────────────────────────────────────────────
(Intercept)  -140.028        16.6432        -8.41    <1e-16  -172.648        -107.408
mileage        -4.51818e-6    3.29349e-7   -13.72    <1e-42    -5.16369e-6     -3.87267e-6
hp             -0.0114995     0.000574058  -20.03    <1e-88    -0.0126246      -0.0103744
year            0.0718514     0.00825618     8.70    <1e-17     0.0556696       0.0880332
price          -0.000151852   4.14508e-6   -36.63    <1e-99    -0.000159976    -0.000143728
───────────────────────────────────────────────────────────────────────────────────────────

# Linear Regression

In [54]:
@time begin


using Lathe.preprocess: TrainTestSplit
train, test = TrainTestSplit(df,.75);
fm = @formula(price ~ mileage + hp + year)
linearRegressor = lm(fm, train)
r2(linearRegressor)
    end

  0.015874 seconds (917 allocations: 9.891 MiB)

0.6794069054449077